@{
    ViewData["Title"] = "Kết quả chào người dùng";
}

<h2>Kết quả</h2>

<p>Xin chào <b>@ViewBag.Ten</b>!</p>
<p>Tuổi của bạn là: <b>@ViewBag.Tuoi</b></p>

<hr />
<a asp-controller="Hello" asp-action="Index">⬅ Quay lại</a>
<a asp-controller="GiaiPTB2" asp-action="Index" style="margin-left:20px;">👉 Giải phương trình bậc 2</a>
